<div id="<%= dom_id channel_status %>">
  <p>
    <strong>Channel:</strong>
    <%= channel_status.channel_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= channel_status.status_id %>
  </p>

</div>
