<h1>Editing channel status</h1>

<%= render "form", channel_status: @channel_status %>

<br>

<div>
  <%= link_to "Show this channel status", @channel_status %> |
  <%= link_to "Back to channel statuses", channel_statuses_path %>
</div>
