<%= render @channel %>

 <% if @channel.user == current_user %> 
  <div>
    <%= link_to "Edit this channel", edit_channel_path(@channel) %> |
    <%= link_to "Back to channels", channels_path %>
  </div>
<%end%>