<div id="<%= dom_id preview_status %>">
  <p>
    <strong>Channel:</strong>
    <%= preview_status.channel_id %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= preview_status.preview_id %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= preview_status.valid_until %>
  </p>

</div>
