<h1>Editing preview status</h1>

<%= render "form", preview_status: @preview_status %>

<br>

<div>
  <%= link_to "Show this preview status", @preview_status %> |
  <%= link_to "Back to preview statuses", preview_statuses_path %>
</div>
