<div class='card w-50 m-auto'>
  <div class="card-header">
    <h4>Order premium</h4>
  </div>
    <div class="card-body">
      <%= render "form", preview_status: @preview_status %>
    </div>
</div>