<p style="color: green"><%= notice %></p>

<h1>Channel tags</h1>

<div id="channel_tags">
  <% @channel_tags.each do |channel_tag| %>
    <%= render channel_tag %>
    <p>
      <%= link_to "Show this channel tag", channel_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New channel tag", new_channel_tag_path %>
