<h1>Editing channel game</h1>

<%= render "form", channel_game: @channel_game %>

<br>

<div>
  <%= link_to "Show this channel game", @channel_game %> |
  <%= link_to "Back to channel games", channel_games_path %>
</div>
