<p style="color: green"><%= notice %></p>

<h1>Channel games</h1>

<div id="channel_games">
  <% @channel_games.each do |channel_game| %>
    <%= render channel_game %>
    <p>
      <%= link_to "Show this channel game", channel_game %>
    </p>
  <% end %>
</div>

<%= link_to "New channel game", new_channel_game_path %>
