.crop {
  height: 250px;
  overflow: hidden;
}

.crop {
  height: 300px;
  overflow: hidden;
}

.channelDetail {
  margin: auto;
  width: 70rem;
}

.customCard:hover {
  box-shadow: 1px 1px 1px lightgray;
}

.undecoratedLink {
  color: black;
  text-decoration: unset !important;
}

.tag-badge:hover {
  box-shadow: 1px 1px 1px lightgray;
  cursor: pointer;
}

.custom-alert {
  left: 50%;
  position: fixed !important;
  text-align: center;
  top: 40px;
  transform: translate(-50%, 0);
  width: 500px;
  z-index: 1;
}

.custom-notification {
  left: 50%;
  position: fixed !important;
  text-align: center;
  top: 110px;
  transform: translate(-50%, 0);
  width: 500px;
  width: 500px;
  z-index: 1;
}

.card-image-container {
  height: 120px;
  overflow: hidden;
}

.game-card-body-container {
  height: 70px
}

.channel-card-body-container {
  height: 160px;
}

.channel-card-description-container {
  height: 100px;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 200px;
  overflow-y: scroll;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content option:hover {
  background-color: #ddd;
  cursor: pointer;
}

.show {
  display:block;
}
