.crop {
  height: 250px;
  overflow: hidden;
}

.crop img {
  height: 300px;
}

.channelDetail {
  margin: auto;
  width: 70rem;
}

.customCard:hover {
  box-shadow: 1px 1px 1px lightgray;
}

.undecoratedLink {
  color: black;
  text-decoration: unset !important;
}

.tag-badge:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px lightgray;
}

.custom-alert {
  position: fixed !important;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.custom-notification {
  position: fixed !important;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
