<% if alert %>
  <div class="custom-notification alert alert-success alert-dismissible fade show" role="alert">
<% else %>
  <div class="custom-alert alert alert-success alert-dismissible fade show" role="alert">
<% end %>
<%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>